[submodule "foreman-custom"]
	path = roles/foreman-custom
	url = https://github.com/LOXDA/foreman-custom.git
[submodule "foreman-app"]
	path = roles/foreman-app
	url = https://github.com/LOXDA/foreman-app.git
[submodule "foreman-proxy"]
	path = roles/foreman-proxy
	url = https://github.com/LOXDA/foreman-proxy.git
[submodule "foreman-db"]
	path = roles/foreman-db
	url = https://github.com/LOXDA/foreman-db.git
[submodule "foreman-puppet"]
	path = roles/foreman-puppet
	url = https://github.com/LOXDA/foreman-puppet.git
