[submodule "ansible-role-deploy-git-repos"]
	path = roles/ansible-role-deploy-git-repos
	url = https://gitea.lab.loxda.net/MIROIR/ansible-role-deploy-git-repos.git
[submodule "ansible-role-grub"]
	path = roles/ansible-role-grub
	url = https://gitea.lab.loxda.net/MIROIR/ansible-role-grub.git
[submodule "foreman-app"]
	path = roles/foreman-app
	url = https://github.com/LOXDA/foreman-app.git
[submodule "foreman-proxy"]
	path = roles/foreman-proxy
	url = https://github.com/LOXDA/foreman-proxy.git
[submodule "foreman-db"]
	path = roles/foreman-db
	url = https://github.com/LOXDA/foreman-db.git
[submodule "foreman-custom"]
	path = roles/foreman-custom
	url = https://github.com/LOXDA/foreman-custom.git
[submodule "foreman-puppet"]
	path = roles/foreman-puppet
	url = https://github.com/LOXDA/foreman-puppet.git
[submodule "ansible-role-bind"]
	path = roles/ansible-role-bind
	url = https://gitea.lab.loxda.net/MIROIR/ansible-role-bind.git
