[defaults]
nocows=true
;bin_ansible_callbacks = true
;show_custom_stats = false
;show_per_host_start = false
;stdout_callback = minimal
;stdout_callback = unixy
;stdout_callback = dense
stdout_callback = debug
;stdout_callback = yaml
;stderr_callback = yaml
roles_path = roles:/etc/ansible/roles:/tmp/semaphore/.ansible/roles
collections_paths = collections:/etc/ansible/collections:/tmp/semaphore/.ansible/collections
;interpreter_python=/usr/bin/python3
deprecation_warnings = false
vault_password_file = .vaultpass
[ssh_connection]
pipelining = True
