[defaults]
nocows=true
; stdout_callback=yaml
; stderr_callback=yaml
; bin_ansible_callbacks=true
roles_path = roles:/tmp/semaphore/.ansible/roles
collections_paths = collections:/tmp/semaphore/.ansible/collections
;interpreter_python=/usr/bin/python3
deprecation_warnings=false
[ssh_connection]
pipelining = True