[defaults]
nocows=true
deprecation_warnings = false
vault_password_file = .vaultpass
roles_path = roles:/etc/ansible/roles:/tmp/semaphore/.ansible/roles
collections_paths = collections:/etc/ansible/collections:/tmp/semaphore/.ansible/collections
;show_custom_stats = false

;stdout_callback = minimal
;stdout_callback = unixy
;stdout_callback = dense
;stdout_callback = debug
;stdout_callback = yaml
interpreter_python=auto_silent

[ssh_connection]
pipelining = True
